@page "/faq"
@attribute [StreamRendering]

<PageTitle>FAQ</PageTitle>
<!--faq section-->
<section class="py-7" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Can I try it for free?</h6>
                        <p class="text-muted">Yes, This solution is free to use across all platform</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Do you have hidden fees?</h6>
                        <p class="text-muted">
                            The usage of the application is free. If you wish to simply view the
                            basic generated documents within our platform, there are no costs. There are however
                            certain actions that requires payment.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What are the payment methods you accept?</h6>
                        <p class="text-muted">
                            We have an every changing and evelving means of payment. There are not
                            same accross all our platforms. The portal has more payment options. Please capitalize
                            on this choose anyone more suitable to you.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How often do you release updates?</h6>
                        <p class="text-muted">
                            This is unique to each of our platforms. For our portal, you might not
                            notice any upgrade, but we will update you of any upgrades when there are any.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Do you need to install For Account Records?</h6>
                        <p class="text-muted">
                            Not Necessarily. There is a web version of our solution(Portal), you
                            can however also install the other platform versions, as there are some features that
                            may be available on these platforms specifically. For example the ability to scan
                            invoice and reciepts may only be found on the mobile platform versions
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How can I contact you?</h6>
                        <p class="text-muted">
                            We provide diffrent levels of custumer support to our custumers
                            depending on their active membership.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Have questions?</h5>
                <a href="mailto:info@ForaccountRecords.com" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</section>