@page "/"

<PageTitle>Home</PageTitle>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Your Fincacial records Everywhere you go</h1>
                <p class="lead py-3">
                    For Account records is a crossplatform solution that helps individuals keep
                    track of your fincacial activites and generates the relivate acceptable documents for audit and
                    review purposes.
                </p>

                <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                    Get started now
                   @*  <em class="ml-2" data-feather="arrow-right"></em> *@
                </button>

                <a href="" style="width: 100px; Height:60px;">
                    <img border="0" alt="W3Schools" src="/assets/img/google-play-badge.png" height="70">

                </a>
                <a href="https://apps.microsoft.com/detail?launch=true&mode=mini">
                    <img src="/assets/img/Download_on_the_App_Store_Badge.svg" height="70" />
                </a>

                <a href="https://apps.microsoft.com/detail?launch=true&mode=mini">
                    <img src="https://get.microsoft.com/images/en-us%20dark.svg" height="70" />
                </a>


            </div>
        </div>
    </div>
</section>


<Features/>
<Pricing />
<Faq />
